extends layout
block content

    .container-fluid
        .row
            .col-sm-4
                section
                    h1= title
                    p #{message}

                    form(action='/', method='get')
                        +listData(list)

            .col-sm-6
                div.movies
                    if(index)
                        +movies(index, list)

            .col-sm-2
                aside
                    .sider
                        each obj in list
                            p.lister
                                span.actor #{obj._fields[0]}