doctype html
html
    head
        title= title
        link(rel='stylesheet', type="text/css", href='/stylesheets/style.css')
        //link(rel="stylesheet", type="text/css", href=cssUrl("/stylesheets/style"))
    body
        h1 YES
        block content
