body
  padding: 0px
  font: 14px "fantasy", Helvetica, Arial, sans-serif
  left 0px
section
  display: inline-block
  position: absolute
  top: 31px
  padding: 25px
  background-color: #929292
  width 105%
a
  color: #ff9800
.sider
  display: table
  margin-bottom 5px
  cursor pointer
  background grey
  position: absolute
  top: 31px
  color: lightgoldenrodyellow
  p.lister
    margin 5px
  span.actor
    display table-cell
    padding 5px
    width 220px
    text-align center
    background: rgba(0, 0, 0, 0.4)
    transition all ease 2s
    &:hover
      background rgba(0, 0, 0, 1)

.movies
  padding 5px
  top: 31px
  display: inline-block
  position: relative
  background-color: #4d2303
  color: whitesmoke
  width: 105%