body
  padding: 0px
  font: 14px "fantasy", Helvetica, Arial, sans-serif

section
  display: inline-block
  position: absolute
  top: 50px
  padding: 25px
  background-color: #929292
  left: 0px
a
  color: #ff9800
.sider
  display: table
  margin-bottom 5px
  cursor pointer
  right: 0
  background grey
  position: absolute
  top: 50px
  color: lightgoldenrodyellow
  p.lister
    margin 5px
  span.actor
    display table-cell
    padding 5px
    width 220px
    text-align center
    background: rgba(0, 0, 0, 0.4)
    transition all ease 2s
    &:hover
      background rgba(0, 0, 0, 1)

.movies
  top: 51px
  display: inline-block
  position: relative
  background-color: darkgoldenrod
  color: whitesmoke
  left: 358px
  width: 798px