body
  padding: 50px
  font: 14px "fantasy", Helvetica, Arial, sans-serif
  display: inline-block
section
  display: inline-block
  position: relative
  padding: 25px
  background-color: #BBBBBB
  right: 0px
a
  color: #00B7FF
nav
  right: 0px
  position: relative
  top: -417px
  padding: 25px
  display: inline-block
  color: lightgoldenrodyellow
  background: black